.rounded-bar {
  --border-radius: 50rem !important;
  border-radius: 50rem !important;
  overflow: hidden !important;
}

ion-input {
  background-color: #fbfbfb !important;
  overflow: hidden !important;
  padding: 0px 1rem 0px 1rem !important;
}

:host::ng-deep .mdc-text-field {
  background-color: #fbfbfb !important;
}

:host::ng-deep .searchbar-input.sc-ion-searchbar-md {
  --background: #fbfbfb !important;
  --box-shadow: none !important;
  border: 1px solid rgb(193, 193, 193) !important;
}

.bg-gradient {
  background: linear-gradient(
    rgba(67, 96, 221, 1),
    rgba(28, 69, 244, 1)
  ) !important;
}

:host::ng-deep .mdc-line-ripple {
  display: none !important;
}

:host::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
