<div
  class="frame-container d-block d-md-flex justify-content-center align-items-center flex-column p-md-4 bg-light"
>
  <div class="w-100 p-4 bg-white shadow rounded" style="max-width: 750px; overflow-y: scroll">
    <div class="w-100  d-flex justify-content-center align-items-center">
      <img
        class="w-100"
        style="max-width: 300px; aspect-ratio: 2.5; object-fit: contain"
        src="assets/printwell.png"
      />
    </div>

    <div
      class="w-100 d-flex justify-content-center align-items-center flex-column"
    >
      <p class="w-100 text-center text-secondary mb-2 mt-3 py-3">
        Print Design Generator
      </p>

      <!-- <mat-radio-group
        class="mx-auto mb-3"
        aria-label="Select an option"
        (change)="selectedType = $event.value"
      >
        <mat-radio-button
          *ngFor="let type of types"
          class="mx-2"
          [value]="type.id"
          [checked]="selectedType == type.id"
          >{{ type.name }}</mat-radio-button
        >
      </mat-radio-group> -->
    </div>

    <div
      class="w-100 d-flex justify-content-center align-items-center flex-column"
    >
      <!-- <ion-searchbar
        searchIcon="color-wand-outline"
        class="rounded-bar"
        animated="true"
        placeholder="Describe a design"
        (ionInput)="setPrompt($event)"
      ></ion-searchbar> -->

      <mat-form-field
        class="example-chip-list w-100 rounded border"
        style="overflow: hidden"
      >
        <mat-label>Include... (ex. man smiling, sunny)</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter fruits">
          <mat-chip-row
            *ngFor="let fruit of prompts"
            (removed)="removePrompt(fruit)"
            [editable]="true"
            (edited)="editPrompt(fruit, $event)"
            [aria-description]="'press enter to edit ' + fruit"
          >
            {{ fruit }}
            <button matChipRemove [attr.aria-label]="'remove ' + fruit">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input
            matInput
            placeholder="New prompt..."
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addPrompt($event)"
          />
        </mat-chip-grid>
      </mat-form-field>

      <mat-form-field
        class="example-chip-list w-100 rounded border my-4"
        style="overflow: hidden"
      >
        <mat-label>Exclude... (ex. dark sky, clouds)</mat-label>
        <mat-chip-grid #chipGrid2 aria-label="Enter fruits">
          <mat-chip-row
            *ngFor="let fruit of negativePrompts"
            (removed)="removeNegPrompt(fruit)"
            [editable]="true"
            (edited)="editNegPrompt(fruit, $event)"
            [aria-description]="'press enter to edit ' + fruit"
          >
            {{ fruit }}
            <button matChipRemove [attr.aria-label]="'remove ' + fruit">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input
            matInput
            placeholder="New prompt..."
            [matChipInputFor]="chipGrid2"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addNegPrompt($event)"
          />
        </mat-chip-grid>
      </mat-form-field>

      <button
        class="mx-auto my-3 btn bg-gradient text-white fw-bold"
        (click)="generateDesign()"
      >
        <span
          class="spinner-border spinner-border-sm me-1"
          role="status"
          aria-hidden="true"
          *ngIf="loading"
        ></span>

        {{ loading ? "Generating" : "Generate Design" }}
      </button>

      <div
        class="text-start border-top w-100 mt-3 bg-white pe-4 d-flex justify-content-center align-items-start flex-column"
      >
        <p class="w-100 text-start text-secondary mb-2 mt-3 pt-3">Width: {{width}}px</p>
        <!-- <ion-input
          class="example-chip-list w-100 rounded border my-2"
          type="number"
          [(ngModel)]="width"
          [min]="32"
          [max]="1024"
          label="Width:"
          placeholder="Enter width (px)"
          
        ></ion-input>

        <ion-input
          class="example-chip-list w-100 rounded border my-2"
          type="number"
          [(ngModel)]="height"
          [min]="32"
          [max]="1024"
          label="Height:"
          placeholder="Enter height (px)"
        ></ion-input> -->

        <mat-slider class="w-100" [min]="128" [max]="1024" step="128" showTickMarks discrete [displayWith]="formatLabel">
          <input matSliderThumb [ngModel]="width" (ngModelChange)="widthChanged($event)">
        </mat-slider>

        <p class="w-100 text-start text-secondary mb-2 mt-3 pt-3">Height: {{height}}px</p>

        <mat-slider class="w-100" [min]="128" [max]="1024" step="128" showTickMarks discrete [displayWith]="formatLabel">
          <input matSliderThumb [ngModel]="height" (ngModelChange)="heightChanged($event)">
        </mat-slider>

      </div>

      <div
        class="text-start border-top w-100 my-3 bg-white d-flex justify-content-center align-items-start flex-column"
      >
        <p class="w-100 text-start text-secondary mb-2 mt-3 py-3">
          Additional Configurations
        </p>
        <ng-container *ngFor="let fill of autofills">
          <mat-checkbox [(ngModel)]="fill.active">
            {{ fill.name }}
          </mat-checkbox>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- <div class="w-100 mt-5">
    <app-section [mystics]="mystics"></app-section>
  </div> -->
</div>
