<ng-container *ngIf="image">
  <div
    class="w-100 d-flex justify-content-between align-items-center"
    style="height: 70px; background-color: #242424"
  >
    <!-- <button class="mx-2 btn btn-transparent text-white"><mat-Back</button> -->
    <div class="d-flex justify-content-start align-items-center">
      <ion-button class="mx-2 text-white back-btn" (click)="image = undefined">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
      <ion-button
        class="mx-2 text-white back-btn"
        (click)="image = undefined; generate.generateDesign()"
      >
        <ion-icon slot="start" name="reload-outline"></ion-icon>
        Regenerate
      </ion-button>
    </div>

    <ion-button class="mx-2 text-white back-btn" (click)="openEmailDialog()">
      <ion-icon *ngIf="!loadingSend" slot="end" name="print-outline"></ion-icon>
      

      {{ loadingSend ? "Sending" : "Send" }}

      <span
        class="spinner-border spinner-border-sm ms-1"
        role="status"
        slot="end"
        aria-hidden="true"
        *ngIf="loadingSend"
      ></span>
    </ion-button>
  </div>
  <app-photo-editor [src]="image"></app-photo-editor>
</ng-container>

<div class="w-100 h-100" [hidden]="image != undefined">
  <app-generate #generate (imageChanged)="image = $event"> </app-generate>
</div>

<!-- <router-outlet *ngIf=""></router-outlet> -->
